<div class="sidebar">
    <div class="sidebar-content">
        <div class="author-card">
            <img src="/assets/images/christiansen.jpg" />
            <div class="author-card-text">
                <p class="author">Prof. Dr. Jan Christiansen</p>
                <p class="title">Experte für funktionale Programmierung und moderne Methoden der Software-Entwicklung
                </p>
            </div>
        </div>

        <div class="offer">
            <h1>Fort-/Weiterbildungen</h1>
            <p>Wir bieten Kurse wie diesen als Fort- oder Weiterbildung.</p>
        </div>

        <div class="offer">
            <h1>Technologieberatung</h1>
            <p>Wir unterstützen auch durch Beratung zur Wahl von Technologien in der Software-Entwicklung.</p>
        </div>

        <div class="logo">
            <div class="support">mit Unterstützung der</div>
            <a href="https://realisiere-deine-idee.de">
                <img src="/assets/graphics/SoftwareFactory-Logo.svg">
            </a>
        </div>
    </div>
</div>