figcaption {
    text-align: center;
}

.nav {
    display: table;
    width: 100%;
    margin-bottom: 15px;
}

.nav-row {
    display: table-row;
    list-style: none;
}

.nav-item {
    display: table-cell;
    width: 33%;
}

.nav-left {
    text-align: left;
}

.nav-center {
    text-align: center;
}

.nav-right {
    text-align: right;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}